@theme {
  --container-width: 1400px;
  --container-padding: 0.5rem;
}
.max-w-screen-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;   /* = 16px */
  padding-right: 1rem;  /* = 16px */
  padding-top: 1rem;    /* = 16px */
  padding-bottom: 1rem; /* = 16px */
}

.tablet {
  max-width: 768px;
}

@utility container {
  width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}
